.reviews {
  position: relative;
  padding-bottom: clamp(1.875rem, -1.534rem + 17.05vw, 11.25rem);
  .reviews-deco {
    position: absolute;
    left: 0;
    top: -500px;
    z-index: -1;
    @media (max-width: 475px) {
      width: 300px;
    }
  }
  .swiper-wrapper {
    align-items: flex-start;
  }
  // .reviews__container
  &__container {
    max-width: 1020px;
    margin: 0 auto;
    position: relative;
    padding-top: 195px;
  }
  // .reviews__quotes
  &__quotes {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 260px;
    text-transform: capitalize;
    color: var(--color-accent);
  }
  // .reviews__slider
  &__slider {
  }
}
.slider-reviews {
  // .slider-reviews__text
  &__text {
    font-size: clamp(1.25rem, 0.977rem + 1.36vw, 2rem);
    line-height: 157%;
    text-transform: capitalize;
    color: #FFFFFF;

  }
  // .slider-reviews__info
  &__info {
    margin-top: 40px;
  }
  // .slider-reviews__name
  &__name {
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
  }
  // .slider-reviews__job
  &__job {
  }
  // .slider-reviews__buttons
  &__buttons {
    display: flex;
    gap: 69px;
    width: 115px;
    height: 60px;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 15px;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      background: #353F49;
      width: 1px;
    }
  }
}

.slider-reviews-btn {
  &.swiper-button-disabled {
    svg {
      fill: #767F89;
    }
  }
  svg {
    fill: #fff;
  }
}
.slider-reviews-prev {
  transform: translateY(-3px) rotate(180deg);
}
.swiper-button-prev {
}
.slider-reviews-next {
}
.swiper-button-next {
}
