@use "sass:math";

//---МИКСИНЫ---//
@import "components/mixins";

/*---ШРИФТЫ---*/
@import 'components/fonts';
// &display=swap

//---Иконочный шрифт---*/
// @import 'components/icons';

/*---ОБНУЛЕНИЕ---*/
@import "components/nullstyle";

//---SCSS ПЕРЕМЕННЫЕ---
@import 'components/variables';

/*---CSS ПЕРЕМЕННЫЕ---*/
:root {
	--color-bg: #121B25;
	--color-text: #D6D6D6;
  --color-accent: #1AA090;
  --color-title: #fff;
}

/*---ЦВЕТОВАЯ СХЕМА И СТРАНИЦА---*/
@import 'components/color-scheme';

body {
	font-family: Worksans, sans-serif;
	font-weight: 400;
	transition: background-color .2s, color .2s;
	background-color: var(--color-bg);
	color: var(--color-text);
  position: relative;

	// Блокировка скролла
	&._locked {
		overflow: hidden;
		touch-action: none;
	}
}

.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	Для слайдеров
	> * {
		min-width: 0;
	}
}

[class*="__container"] {
	@if ($containerWidth > 0) {
		max-width: $maxWidthContainer + px;
	} @else {
		width: 100%;
	}
	margin: 0 auto;
	padding: 0 math.div($containerPadding, 2) + px;
}

//===========================================//
//---Дополнительные стили

/*---ОБЩИЕ КЛАССЫ---*/
@import 'components/common';

//===========================================//
//---Элементы

//---МОДАЛЬНЫЕ ОКНА
// @import 'elements/modals';

//---ТАБЫ
// @import 'elements/tabs';

//---SHOW MORE
// @import 'elements/showmore';

//---SPOLLERS
// @import 'elements/spollers';

//---SWIPER
@import 'elements/swiper';

//---RANGE INPUT
// @import 'elements/range';

//---SELECTS
// @import 'elements/selects';

//---STAR RATING
// @import 'elements/rating';

//---COUNTER
// @import 'elements/counter';

//---SWITCHER
// @import 'elements/switcher';

//==========================================//
/*---Header---*/
@import "components/header";

//===========================================//
/*---Стили страницы---*/
.main {
	flex: 1 1 auto;
}

@import "page/hero.scss";
@import "page/featured.scss";
@import "page/popular.scss";
@import "page/why.scss";
@import "page/reviews.scss";
@import "page/gallery.scss";
@import "page/begin.scss";

//===========================================//
/*---Footer---*/
@import "components/footer";
